{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{clean_files, ["ebin", "doc"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps,
    [
      { mondemand_server,
        "4.4.3",
        {git, "git://github.com/mondemand/mondemand-server.git", {tag, "4.4.3"} }
      },
      { erlrrd,
        "0.6.0",
        {git, "git://github.com/dukesoferl/erlrrd.git", {tag, "0.6.0"}}
      },
      { lager, "2.0.*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}}
    ]
}.
