{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{clean_files, ["ebin", "doc"]}.
{cover_enabled, true}.
%% enable coverage output when running eunit
{ cover_enabled, true }.
{ cover_opts, [verbose] }.

%% always include debug info so AST is included in beams
{erl_opts, [debug_info]}.

{deps,
    [
      { mondemand_server,
        {git, "git://github.com/mondemand/mondemand-server.git", {tag, "6.3.0"} }
      }
    ]
}.
