[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",26562} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ ] },
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_rrd,
                                     mondemand_backend_stats_aggregator
                                   ] },
          { "MonDemand::LogMsg",   [ ] },
          { "MonDemand::TraceMsg", [ ] }
        ]
      },
      % config for web server
      { web,
        [ { ip, "0.0.0.0" }, % bind to all interfaces
          { port, 26662 },   % port to bind on
          { log_dir, "tmp/data/httpd/logs" },
          { dispatch,
            [
              {["tools", '*'],
                mondemand_server_fs_resource, [ {root, "priv/www" } ] },
              {["data", '*'],
                mondemand_server_fs_resource, [ {root, "tmp/data"} ] },
              {["tcp"],
                mondemand_http_resource, [] }
            ]
          }
        ]
      },
      { mondemand_backend_stats_aggregator,
        [
          {worker_mod, mondemand_backend_stats_aggregator},
          {aggregation_keys, [<<"cluster">>]}
        ]
      },
      { mondemand_backend_stats_rrd,
        [
          { error_timeout, 10},
          { limit, 10 },
          { number, 2 },
          { file_cache, "tmp/data/file_name_cache.ets" },
          { path, "tmp/var/run/mondemand/rrdcached.sock" },
          % using host and port should also work, but seems slower
          %  { host, "127.0.0.1" },
          %  { port, 11211 },
          { handler_mod, mondemand_backend_stats_rrd },
          { worker_mod, mondemand_backend_stats_rrd },
          { prefix, "tmp/data/stats/rrd" },
          { whitelisted, [] },
          { blacklisted, ["other","other2","other3"] },
          { dispatch,
            [
              { ["rrd", prog_id, metric, file],
                mondemand_backend_stats_rrd_resource,
                [ {root, "tmp/data/stats/rrd" } ]
              },
              { ["rrd", prog_id, metric],
                mondemand_backend_stats_rrd_resource,
                [ {root, "tmp/data/stats/rrd" } ]
              },
              { ["rrd", prog_id ],
                mondemand_backend_stats_rrd_resource,
                [ {root, "tmp/data/stats/rrd" } ]
              },
              { ["rrd"],
                mondemand_backend_stats_rrd_resource,
                [ {root, "tmp/data/stats/rrd" } ]
              }
            ]
          }
        ]
      },
      { mondemand_backend_stats_rrd_builder,
        [
          { path, "tmp/var/run/mondemand/rrdcached.sock" },
          { worker_mod, mondemand_backend_stats_rrd_builder },
          { recv_timeout, infinity },
          { send_timeout, 5000 },
          { pass_raw_data, true }
        ]
      }
    ]
  },
  {
    erlrrd,
    [
%      { cache,
%        [
%          { write_timeout, 3600 },
%          { flush_timeout, 7200 },
%          { group, "apache" },
%% there seem to be core dumps when using afunix transport
%          { listen, "unix:tmp/var/run/mondemand/rrdcached.sock" },
%          { listen, "127.0.0.1" },
%          { pidfile, "tmp/var/run/mondemand/rrdcached.pid" },
%          { base_dir, "/home/molinaro/projects/thirdparty/mondemand-backend-stats-rrd" }
%        ]
%      }
    ]
  },
  { mondemand, [
      { send_interval, 0 },
      { lwes_channel, { "127.0.0.1", 26562 } }
    ]
  }
].
